.main-div {
    background-color: rgb(245,245,245);

    height: 950px;
    width: 765px;
  
    margin-left: auto;
    margin-right: auto;

    padding: 30px;
}

.center {
    text-align: center;
}

span {
    background-color: rgb(231,231,231);
    color: brown;
}

.code {
    background-color: rgb(231,231,231);
}

.h span {
    background-color: rgb(231,231,231);
    color: cadetblue;
}